<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Footballkik = Home </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/3.3.7/css/bootstrap.min.css"
        integrity="sha384-8VYiiSIFeKldGmJRAkycuHAHRg320Ucww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonumous">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        rel = "stylesheet">

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
       <%- include patials/navbar.ejs %> 
    </body>
</html>