body {
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background: #eeeeee;
}

.navbar{
    background-color: #4aa1f3;

}

.navbar-default .navbar-brand{
    color : #ffffff;
    font-size : 30px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand:hover {
    color : #ffffff :important;
    background-color : #4aa1f3 :important;
}

.navbar-default .navbar-nav > li > a{
    color: #ffffff !important;
    background-color: #4aa1f3 !important;
    font-size: 16px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #ffffff !important;
    background-color: #4aa1f3 !important;
}

.add-apply{
    background: #4aa1f3;
    width: 100%;
    text-shadow: none;
    color: #ffffff !important;
    margin-top: 25px;
    font-weight: bold;
}

.add-fav {
    background: #4aa1f3;
    width: 100%;
    text-shadow: none;
    color: #ffffff !important;
    font-weight: bold;
    padding: 5px 2px 5px 2px;
}